<div class="container mt-5">
    <h1>Criar Nova Despesa</h1>
    <form id="expenseForm">
        <div class="form-group">
            <label for="expenseName">Nome da Despesa</label>
            <input type="text" class="form-control" id="expenseName" required>
        </div>
        <button type="submit" class="btn btn-primary">Criar Despesa</button>
    </form>

    <h2>Despesas Atuais</h2>
    <ul id="expenseList">
        <% for (let i=0; i < tipos.length; i++) { %>
            <li>
                <%= tipos[i].nome %>
            </li>
            <% } %>
    </ul>
</div>

<script>
    async function criar() {
        let input = document.getElementById("expenseName");
        let expenseName = input.value;

        if (!expenseName) {

            return;
        }

        let obj = {
            nome: expenseName
        };
        let response = await fetch("/criarTipo", {
            method: "post",
            body: JSON.stringify(obj),
            headers: {
                "content-type": "application/json"
            }
        });



        var listItem = document.createElement('li');
        listItem.innerText = expenseName;

        document.getElementById('expenseList').appendChild(listItem);
    }

    document.getElementById('expenseForm').addEventListener('submit', function (e) {
        e.preventDefault();
        criar();
    });
</script>