<div class="limita">
    <div class="primeira">
                    <div class="colun">
                        <h3 class="sub"> O complicado ficou fácil </h3>
                        <h2 class="titulo"> O mais novo sistema <br> de divisão de contas</h2>
                        <p class="lead">Agora você pode dividir a sua conta com os seus colegas com a maior
                            facilidade e agilidade.</p>
                    </div>
    </div>
    <div class="segunda">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="titu">Um novo método</h2>
                </div>

                <div class="row seg">
                    <div class="col-sm-4 segundou">
                        <img class="mini" src="/public/img/iconos-redondos-png-10.png" alt="">
                        <h2 class="subtitu"> Adicione a hora que quiser e aonde quiser</h2>
                        <p>Com o Fair Share você pode adicionar seus gastos quando chegar em casa, no moemnto da
                            compra, quando tiver caminhando ... não tem lugar nem hora.</p>
                    </div>
                    <div class="col-sm-4 segundou">
                        <img class="mini" src="/public/img/iconos-redondos-png-10.png" alt="">
                        <h2 class="subtitu">Divida com quantas pessoas quiser</h2>
                        <p>É possível criar quantos grupos de divisão quiser e com quantas pessoas desejarem</p>
                    </div>
                    <div class="col-sm-4 segundou">
                        <img class="mini" src="/public/img/iconos-redondos-png-10.png">
                        <h2 class="subtitu">Não precisa quebrar a cabeça com contas</h2>
                        <p>O nosso sistema é responsável por resolver todos os seus problemas, de divisão de conta,
                            quem tem que pagar o que e muito mais!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="terceira">
            
        </div>












    </div>